@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--retro-cyan: #60fdff;
	--retro-darkCyan: #00c5c7;
	--retro-blue: #6871ff;
	--retro-darkBlue: #5259c1;
	--retro-green: #5ffa68;
	--retro-darkGreen: #00c200;
	--retro-purple: #ff77ff;
	--retro-darkPurple: #ca30c7;
	--retro-red: #ff6e67;
	--retro-darkRed: #b63b28;
	--retro-yellow: #fffc67;
	--retro-darkYellow: #c7c400;
}

a {
	color: var(--retro-blue);
	text-decoration: underline dotted;
}

a:hover {
	color: var(--retro-darkBlue);
}

ol {
	list-style-type: decimal;
	margin-left: 1.5rem;
}

ul {
	list-style-type: disc;
	margin-left: 1.5rem;
}

.code {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	font-feature-settings: normal;
	font-variation-settings: normal;
}

.comment {
	/* color: rgb(200, 200, 200); */
	color: var(--retro-green);
	/* font-style: italic; */
}

.cursor {
	display: inline-block;
	border-right: 4px solid white;
	white-space: nowrap;
	overflow: hidden;
}

.cursor-blink {
	animation: blink-caret 1.2s step-end infinite;
}

.cursor-hide {
	border: 0px;
}

.h1 {
	font-size: calc(1.6rem + 3vw);
}

.h2 {
	font-size: calc(1.5rem + 2vw);
}

.h3 {
	font-size: calc(1.4rem + 1vw);
}

.main-content {
	min-height: calc(100vh - 128px);
}

.space-between-p p:not(:first-child) {
	margin-top: 1em;
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
