@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--retro-blue: #6871ff;
	--retro-darkBlue: #0225c7;
	--retro-green: #5ffa68;
	--retro-darkGreen: #00c200;
	--retro-yellow: #fffc67;
	--retro-darkYellow: #c7c400;
}

.code {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	font-feature-settings: normal;
	font-variation-settings: normal;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
