@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--retro-blue: #6871ff;
	--retro-darkBlue: #0225c7;
	--retro-green: #5ffa68;
	--retro-darkGreen: #00c200;
	--retro-yellow: #fffc67;
	--retro-darkYellow: #c7c400;
}

.code {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	font-feature-settings: normal;
	font-variation-settings: normal;
}

.cursor {
	display: inline-block;
	border-right: 4px solid white;
	white-space: nowrap;
	overflow: hidden;
}

.cursor-blink {
	animation: blink-caret 1.2s step-end infinite;
}

.cursor-hide {
	border: 0px;
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
